body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom right, lightgray, white);
  color: #735d65;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0;
}

fieldset {
  border: 1px solid #735d65;
  border-radius: 10px;
  margin-right: 50%;
}

legend {
  color: #594946;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

label {
  display: block;
}

textarea {
  height: 10rem;
  padding: 1rem;
}

button {
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 20%;
  background-color: #d9b5a0;
  border-style: groove;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: #401212;
  color: #d9d9d9;
  cursor: pointer;
}

button:disabled {
  background-color: #d9b5a0;
  cursor: not-allowed;
}

input {
  display: block;
  margin-bottom: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  padding: 0 1;
}

textarea {
  display: block;
  margin-bottom: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  padding: 0 1;
}

.navbar a:hover {
  background-color: #a6a6a6;
  color: #f2f2f2;
}
.nav-item {
  color: floralwhite;
  display: inline-block;
  vertical-align: middle;
  padding: 14px 10px;
  text-decoration: none;
}

.container {
  max-width: none;
  color: Black;
}

.wrapper {
  color: #735d65;
  flex-flow: nowrap;
}

.wrapper h1 {
  color: #402320;
}

.navbar {
  background-color: dimgrey;
  height: 50px;
  position: relative;
  width: 100%;
  top: 0;
  border-radius: 4px;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  text-decoration: none;
  padding-top: 3rem;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
}
footer li a {
  text-decoration: none;
  color: #52524e;
  font-weight: bold;
  padding: 0 5px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  color: #52524e;
  margin-top: 0.8rem;
}
